{% spaceless %}
<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - Resonance</title>
    <meta charset='utf-8' />

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1006156623232-pk0jjnlkqib9chpa87vesh4j9v1jeafc.apps.googleusercontent.com" />
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
  </body>
</html>
{% endspaceless %}
